---
import BaseLayout from '../layouts/BaseLayout.astro';
// todo: disable page title change from released component/script
---

<BaseLayout>
	<section>
		<div class="space-y-1">
			<h1 class="text-4xl leading-tight font-semibold tracking-tight text-balance">
				Product Roadmap
			</h1>

			<p class="max-w-2xl text-lg text-(--color-muted)">
				We build in the open. This roadmap shows what we’re exploring, actively building,
				and planning next for our self-hosted users. Shipped features live in the <a
					href="https://github.com/Inboxt/inboxt/releases"
					class="underline underline-offset-4 hover:text-(--color-text)">changelog</a
				>.
			</p>
		</div>

		<div id="roadmap-wrapper" data-loading="true" class="relative overflow-hidden">
			<div
				id="released-loader"
				class="absolute inset-0 z-10 flex items-center justify-center bg-(--color-bg)"
			>
				<div
					class="h-8 w-8 animate-spin rounded-full border-2 border-(--color-muted) border-t-transparent"
				>
				</div>
			</div>

			<released-page channel-id="4bc7a7d0-ecd2-4da7-b137-34a3f674ac83" modules="roadmap"
			></released-page>
		</div>

		<script is:inline>
			(() => {
				const wrapper = document.getElementById('roadmap-wrapper');
				const loader = document.getElementById('released-loader');

				if (!wrapper || !loader) return;

				const MIN_TIME = 700;
				const start = performance.now();

				window.addEventListener('load', () => {
					const elapsed = performance.now() - start;
					const remaining = Math.max(0, MIN_TIME - elapsed);

					setTimeout(() => {
						loader.style.opacity = '0';
						loader.style.pointerEvents = 'none';

						// remove temporary min-height
						wrapper.removeAttribute('data-loading');

						setTimeout(() => loader.remove(), 200);
					}, remaining);
				});
			})();
		</script>
	</section>
</BaseLayout>
